@model AlbumFotos.Models.Album

<div class="formulario">
    <div class="container">
        <div class="titulo">
            <h4>Album</h4>
            <hr />
        </div>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-field">
                        <label asp-for="Destino" class="control-label"></label>
                        <input asp-for="Destino" class="form-control" />
                        <span asp-validation-for="Destino" class="text-danger"></span>
                    </div>

                    <img id="imagem" src="#" alt="Foto" />
                    <div class="file-field input-field">
                        <div class="btn-small">
                            <span>Selecione o arquivo</span>
                            <input asp-for="FotoTopo" class="form-control" type="file" name="arquivo" onchange="CarregarImagem(this)" />
                            <span asp-validation-for="FotoTopo" class="text-danger"></span>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path-wrapper validate" type="text" placeholder="Faça o upload da foto" />
                        </div>
                    </div>

                    <div class="input-field">
                        <label asp-for="Inicio" class="control-label"></label>
                        <input asp-for="Inicio" class="form-control datepicker" type="text" />
                        <span asp-validation-for="Inicio" class="text-danger"></span>
                    </div>

                    <div class="input-field">
                        <label asp-for="Fim" class="control-label"></label>
                        <input asp-for="Fim" class="form-control datepicker" type="text" />
                        <span asp-validation-for="Fim" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-small" /> &nbsp;
                        <a asp-action="Index" class="btn-small grey darken-3">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script>
            $("#imagem").hide();

            $('.datepicker').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                defaultDate: new Date(),
                setDefaultDate: true,
                disableWeekends: false,
                showDaysInNextAndPreviousMonths: true,
                showMonthAfterYear: true,
                firstDay: 0,
                showClearBtn: true,
                i18n: {
                    cancel: 'Cancelar',
                    clear: 'Limpar',
                    done: 'Ok',
                    previousMonth: '<',
                    nextMonth: '>',
                    months: [
                        'Janeiro',
                        'Fevereiro',
                        'Março',
                        'Abril',
                        'Maio',
                        'Junho',
                        'Julho',
                        'Agosto',
                        'Setembro',
                        'Outubro',
                        'Novembro',
                        'Dezembro'
                    ],

                    weekdays:[
                        'Domingo',
                        'Segunda',
                        'Terça',
                        'Quarta',
                        'Quinta',
                        'Sexta',
                        'Sábado'
                    ],
                    weekdays: [
                        'Dom',
                        'Seg',
                        'Ter',
                        'Qua',
                        'Qui',
                        'Sex',
                        'Sab'
                    ],
                    weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 's', 's']
                }
            });

            function CarregarImagem(input){
                if(input.files && input.files[0]){
                    var eader = new FileReader();
                    $('#imagem').show();

                    reader.onload = function (e) {
                        $("#imagem").attr('src', e.target.result).width(250).height(250);
                    }
                }
                reader.readAsDataURL(input.files[0])
            }
        </script>
}